#emp-list-item{
    border: gray solid 1px;
    border-radius: 10px;
    margin: 5px;
    
}

.info {
    text-align: left;
    padding-left: 100px;
}

h4 {
    margin-bottom: -20px;
}

h5 {
    font-weight: lighter;
}

img {
    width: 10%;
    padding-left: 30px;
    margin-top: 20px;
    border-radius: 15px;
}